<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bus.gateway.entity.mapper.MessageProviderMapper" >

  <sql id="Base_Column_List" >
    id, provider_id, exchange_type, exchange, queue, routingkey, create_date, last_date, send_date,
    send_status,content
  </sql>

  <select id="selectById" resultType="com.bus.gateway.entity.model.MessageProvider" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from message_provider
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.bus.gateway.entity.model.MessageProvider">
    insert into message_provider (provider_id, exchange_type, exchange,
      queue, routingkey, create_date,
      last_date, send_date, send_status,
      content)
      values
      <foreach collection="list" item="provider" separator=",">
        (#{provider.providerId,jdbcType=VARCHAR}, #{provider.exchangeType,jdbcType=VARCHAR}, #{provider.exchange,jdbcType=VARCHAR},
        #{provider.queue,jdbcType=VARCHAR}, #{provider.routingkey,jdbcType=VARCHAR}, #{provider.createDate,jdbcType=TIMESTAMP},
        #{provider.lastDate,jdbcType=TIMESTAMP}, #{provider.sendDate,jdbcType=TIMESTAMP}, #{provider.sendStatus,jdbcType=INTEGER},
        #{provider.content,jdbcType=LONGVARCHAR})
      </foreach>
  </insert>

  <update id="update" parameterType="com.bus.gateway.entity.model.MessageProvider" >
    update message_provider
    <set>
      <if test="exchangeType != null" >
        exchange_type = #{exchangeType,jdbcType=VARCHAR},
      </if>
      <if test="exchange != null" >
        exchange = #{exchange,jdbcType=VARCHAR},
      </if>
      <if test="queue != null" >
        queue = #{queue,jdbcType=VARCHAR},
      </if>
      <if test="routingkey != null" >
        routingkey = #{routingkey,jdbcType=VARCHAR},
      </if>
      <if test="lastDate != null" >
        last_date = #{lastDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sendDate != null" >
        send_date = #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sendStatus != null" >
        send_status = #{sendStatus,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateInfoByProviderId" parameterType="com.bus.gateway.entity.model.MessageProvider">
    update message_provider set
    send_status = #{sendStatus,jdbcType=INTEGER}
    where provider_id = #{providerId,jdbcType=VARCHAR}
  </update>

</mapper>